<p>Show</p>

<%= image_tag @recipe.image.url(:small) %>

<h1><%= @recipe.title %></h1>
<h3><%= @recipe.description %></h3>


<%= link_to "Back", root_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
<%= link_to "Delete", recipe_path, method: :delete, data: { confirm: "Are you sure?" },class: "btn btn-default" %>

